@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?x2ogti');
  src:  url('fonts/icomoon.eot?x2ogti#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?x2ogti') format('truetype'),
    url('fonts/icomoon.woff?x2ogti') format('woff'),
    url('fonts/icomoon.svg?x2ogti#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e986";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-mail2:before {
  content: "\ea84";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin2:before {
  content: "\eaca";
}


*{
	/*border: red 2px solid;*/
}

body{
	background-color: #2E2E2E;
	color: white;
}
.header{
	display: block;
	margin:auto;
	height: 475px;

}

.foto{
	border-radius: 170px;
	border: double #707173 5px;
	display: flex;
	margin: auto;
}

.portada{
	width: 420px;
	margin:auto;

}
.icoMoons{
	width: 400px;
	display: flex;
	margin: auto;
}
.icon {
	display: inline-block;
	width: 20px;
	margin: auto;
	color: white;
} 
.portada .icon{
	
}
h1{
	text-align: center;
	font-size: 64px;
	margin-top: 0;
	margin-bottom: 0;
	color: rosybrown;
}
.titulo-1{
	text-align: center;
	margin-top: 0;
    font-size: 33px;
    color: lavender;
}

.seccion-1{
	display: inline-flex;
    margin: 20px 80px;
    /*background-color: white;*/
}
.pista-drone{
	background-image:url(fondo-carrera.png);
	background-size: cover;
	width: 350px;
	height: 280px;
	margin-right: 80px;
	border-radius: 15px;
    border: black solid 1px;
}

.jhimy{
	position: absolute;
	margin-top: 125px;
	width: 150px;
	height: 150px;
}

.cabeza{
	position: absolute;
	margin-left: 55px;
	transition: .3s;

}
.cuerpo{
	position: absolute;
	margin-top: 95px;
	margin-left: 58px;
}
.drone{
	position: absolute;
	margin-left: 150px;
	transition: .3s;
}
.control{
	position: absolute;
	margin-top: 65px;
	transition: .3s;
}

.eslogan{
	width: 750px;
	height: 250px;
}
.parrafo-1{
	font-size: 35px;
	text-align: center;
	margin-top: 65px;
}

.alin{
	display: inline-block;
}

.descripcion{
	margin: 20px 80px;

}
h2{
	font-size: 27px;
	font-family: 'Montserrat', sans-serif;
}
.parrafo-2{
	font-size: 30px;
    text-align: center;
}

.seccion-3{
	display: block;
}

.trabajo{
	width: 1300px;
	display: flex;
	background: white;
    border-radius: 16px;
}
.expe{
	margin:20px;
}
.experiencias-1{
	display: inline-block;
}

.caja{
	display: inline-block;
	width: 300px;
	height: 372px;
	margin: auto;
	color: black;
	border: gray solid 2px;
    border-radius: 20px;
}
.img-1{
	margin-bottom: -28px;
}
.img{
	width: 100%;
	border-radius: 20px;
}

.ajustar1{
	margin-top: 70px;
    margin-bottom: 70px;
}
.ajustar2{
	margin-top: 60px;
    margin-bottom: 60px;
}

.ajustar3{
	margin-top: 70px;
    margin-bottom: 70px;
}

.ajustar4{
	margin-top: 85px;
	margin-bottom: 70px;
}

.links{
	text-decoration: none;
	color: green;
}

h3{
	text-align: center;
	font-size: 22px;
}

.jhimy:hover .cabeza{
	animation: .6s jhimy infinite;

}
.jhimy:hover .drone{
	animation: 2s jhimy infinite;
}
.jhimy:hover .control{
	transform: rotate(-7deg);
}
@keyframes jhimy{
	50%{
		transform: translateY(5px) rotate(4deg);
	}
	100%{
		transform: translate(0);
	}
}